node_red_data/flows.json
[{"id":"bc3cc949.dfdda","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cb3f13da.cce8b8","type":"http in","z":"bc3cc949.dfdda","name":"","url":"/quadratic-equation","method":"post","upload":false,"swaggerDoc":"","x":370,"y":160,"wires":[["f5685dfe.d02258"]]},{"id":"c303dc07.a12d5","type":"http response","z":"bc3cc949.dfdda","name":"","statusCode":"","headers":{},"x":690,"y":340,"wires":[]},{"id":"f5685dfe.d02258","type":"function","z":"bc3cc949.dfdda","name":"discriminant (D)","func":"msg.payload.D = msg.payload.b*msg.payload.b-\n    4*msg.payload.a*msg.payload.c;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["fdd25518.f36ef8"]]},{"id":"fdd25518.f36ef8","type":"switch","z":"bc3cc949.dfdda","name":"D switch","property":"payload.D","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":320,"y":340,"wires":[["23bfa400.9b589c"],["8d6d9782.e7d39"],["9c0e9378.a24258"]]},{"id":"23bfa400.9b589c","type":"function","z":"bc3cc949.dfdda","name":"D > 0","func":"msg.payload.result=[\n    (-msg.payload.b+Math.sqrt(msg.payload.D))/(2*msg.payload.a),\n    (-msg.payload.b-Math.sqrt(msg.payload.D))/(2*msg.payload.a),\n];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["c303dc07.a12d5"]]},{"id":"8d6d9782.e7d39","type":"function","z":"bc3cc949.dfdda","name":"D = 0","func":"msg.payload.result=[\n    -msg.payload.b/(2*msg.payload.a)\n];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":340,"wires":[["c303dc07.a12d5"]]},{"id":"9c0e9378.a24258","type":"function","z":"bc3cc949.dfdda","name":"D < 0","func":"msg.payload.result=[]\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["c303dc07.a12d5"]]}]